<!DOCTYPE html>
<html layout:decorate="layouts/defaultLayout" lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<div layout:fragment="content">
    <form action="#" th:action="@{/events/addNew}" th:object="${event}" method="post">
        <h2>Add a New Event</h2>
        <div class="mb-3">
            <label for="eventName" class="form-label">Event Name</label>
            <input type="text" th:field="*{eventName}" class="form-control" id="eventName" aria-describedby="eventNameHelp">
            <div id="eventNameHelp" class="form-text">Give a name to your event.</div>
        </div>

        <div class="mb-3">
            <label for="eventDate" class="form-label">Event Date</label>
            <input type="text" th:field="*{eventDate}" class="form-control" id="eventDate">
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <input type="text" th:field="*{description}" class="form-control" id="description">
        </div>

        <div class="mb-3">
            <label for="venue" class="form-label">Venue</label>
            <input type="text" th:field="*{venue}" class="form-control" id="venue">
        </div>

        <div class="mb-3">
            <label for="seats" class="form-label">Seats</label>
            <input type="number" th:field="*{seats}" class="form-control" id="seats">
        </div>

        <div class="mb-3">
            <label for="fee" class="form-label">Fee</label>
            <input type="text" th:field="*{fee}" class="form-control" id="fee">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</html>
