<!DOCTYPE html>
<html layout:decorate="layouts/defaultLayout" lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<div layout:fragment="content">
    <form action="#" th:action="@{/events/search}" th:object="${searchModel}" method="post">
        <h2>Search Events</h2>
        <div class="mb-3">
            <label for="searchTerm" class="form-label">Search for Event Name</label>
            <input type="text" th:field="*{searchTerm}" class="form-control" id="searchTerm" aria-describedby="searchHelp">
            <div id="searchHelp" class="form-text">Enter partial or full name</div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</html>